<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>293883901662-26kcgaho07kbbigitjp31kbdouac2hb3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.293883901662-26kcgaho07kbbigitjp31kbdouac2hb3</string>
	<key>API_KEY</key>
	<string>AIzaSyAiPG2tNX3o9IK3Isj6JOy3QrgCKnTXIQc</string>
	<key>GCM_SENDER_ID</key>
	<string>293883901662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.auburn.onlinecsse.Assignment3</string>
	<key>PROJECT_ID</key>
	<string>sports-wiki</string>
	<key>STORAGE_BUCKET</key>
	<string>sports-wiki.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293883901662:ios:9c8e64b1f0bdf9a24ab44f</string>
</dict>
</plist>